.footer-outer-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}


.footer-inner-container {
  width: calc(100vw - (2 * 127px)); 
  height: auto;
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin-bottom: 30px;

}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer-brand {
  color: #5F6368;
  font-size: 18px;
}

.footer-pages {
  display: flex;
  gap: 28px;
  font-size: 14px;
}

.footer-pages a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1280px) {

  .footer-inner-container {
    width: 100vw;
  }

  .footer-content {

    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
  }

  .footer-brand {
    font-size: 16px;
    margin-left: 30px;
  }

  .footer-pages {
    gap: 20px;
    font-size: 14px;
    margin-right: 30px;
  }
}

@media (max-width: 1280px) {
  .footer-line {
    width: 100vw;
  
  }

}



