.gallery-outer-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.gallery-inner-container {
    margin-top: 104px;
    width: 1268px;
    height: auto;
}

.gallery-heading {
    margin-top: 40px;
    font-size: 36px;
    text-align: center;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(5, 244px);
    gap: 12px;
    margin-top: 36px;
    margin-bottom: 150px;
}

.gallery-card {
    position: relative;
    height: 187px;
    width: 244px;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.gallery-card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      #D2F69E,
      rgba(210, 246, 158, 0)
    );
}


.gallery-card-title {
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: white;
    font-size: 18px;
    font-weight: 400;
}


@media (max-width: 1280px) {

    .gallery-inner-container {
        width: 100vw;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 12px;
        justify-items: center;
    }

    .gallery-card {
        width: 100%;
        aspect-ratio: 244 / 187; 
        border-radius: 10px;
        overflow: hidden;
    }

    .gallery-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media (max-width: 700px) {

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
    }

    .gallery-card {
        width: 100%;
        aspect-ratio: 244 / 187;
    }
}



@media (max-width: 480px) {

    .gallery-grid {
        grid-template-columns: 1fr;
    }

    .gallery-card {
        width: 100%;
        aspect-ratio: 244 / 187;
    }
}
