.home-welcome {
  margin-top: 40px;
  margin-bottom: 29px;
  font-size: 48px;
}

.home-outer-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.home-inner-container {
  width: calc(100% - (2 * 127px)); 
  height: auto;
  margin-top: 104px;
}

.home-heading {
  font-size: 20px;
  margin-bottom: 12px;
}


.home-upload-photo-container {
  width: 243px;
  aspect-ratio: 244 / 187;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  cursor: pointer;
}

.home-upload-photo-container:hover {
  background-color: #f9f9f9;
}

.home-upload-photo-container-circle {
  height: 54px;
  width: 54px;
  background-color: #D2F69E;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-upload-photo-container-text {
  font-size: 18px;
  color: #5F6368;
}


.home-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 244px);
  gap: 12px;
  margin-bottom: 12px;
}

.home-gallery-card {
  position: relative;
  width: 244px;
  aspect-ratio: 244 / 187; 
  border-radius: 10px;
  overflow: hidden;
}

.home-gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-gallery-card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    #D2F69E,
    rgba(210, 246, 158, 0)
  );
}

.home-gallery-card-title {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: white;
  font-size: 18px;
}


.home-see-all-button {
  height: 41px;
  width: 77px;
  font-size: 12px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  margin-bottom: 150px;
  transition: 0.25s ease;
}

.home-see-all-button:hover {
  background-color: #D2F69E;
  border: none;
}

@media (max-width: 1280px) {
  .home-inner-container {
    width: calc(100% - 60px);
  }
}

@media (max-width: 1132px) {
  .home-gallery {
    grid-template-columns: repeat(3, 244px);
  }
}

@media (max-width: 820px) {
  .home-gallery {
    grid-template-columns: repeat(2, 244px);
  }
  .home-welcome {
    font-size: 36px;
  }
}

@media (max-width: 541px) {

  .home-inner-container {
    width: 100%;
    padding: 0 30px;
  }

  .home-upload-photo-container {
    width: calc(100vw - 60px);
    aspect-ratio: 244 / 187;
  }

  .home-gallery {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .home-gallery-card {
    width: calc(100vw - 60px);
    aspect-ratio: 244 / 187;
  }
}
