.signin {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins';
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signin-title {
  font-size: 32px;

    margin: 0 0 32px 0;
}

.signin-input-header {
  font-size: 12px;
  color: #515154;
  margin: 16px 0 10px 0;
}

.signin-input-box {
  height: 44px;
  width: 305px;
  border-radius: 3px;
  border: 1px solid #e5e5ea;
  outline: none;
  padding: 0 10px;
  font-size: 14px;
}

.signin-button {
  height: 44px;
  width: 325px;
  border-radius: 25px;
  border: none;
  background-color: #D2F69E;
  color:black;
  font-size: 13px;
  cursor: pointer;
  margin:45px 0 30px 0;
}

.signin-button:hover { 
    background-color: #c3ec8f;
}

.signin-signup {
  font-size: 14px;
  color: #515154;
}

.signin-signup span {
  cursor: pointer;
  color: black;
}

.signin-signup span:hover { 

    text-decoration: underline;
}