.upload {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins';
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-title {
  font-size: 32px;
  margin: 0 0 32px 0;
}

.upload-card {
  display: flex;
  flex-direction: column;
}


.upload-input-header {
  font-size: 12px;
  color: black;
  margin: 16px 0 10px 0;
}

.upload-input-box {
  height: 44px;
  width: 305px;
  border-radius: 3px;
  border: 1px solid #e5e5ea;
  outline: none;
  padding: 0 10px;
  font-size: 14px;
}

.upload-file-button {
  height: 44px;
  width: 325px;
  border-radius: 25px;
  border: 1px solid #d9d9d9;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  transition: all 0.25s ease;
  position: relative;
}

.upload-file-button:hover {
  background-color: #f9f9f9;
}


.upload-file-button input {
  display: none;
}

.upload-file-name {
  font-size: 12px;
  color: #5f6368;
  margin-top: 6px;
}

.upload-button {
  height: 44px;
  width: 325px;
  border-radius: 25px;
  border: none;
  background-color: #D2F69E;
  color: black;
  font-size: 13px;
  cursor: pointer;
  margin: 45px 0 30px 0;
  transition: all 0.25s ease;
}

.upload-button:hover {
  background-color: #c3ec8f;
}


.upload-back {
  width: 100%;
  display: flex;
  padding-left: 45px;
  padding-top: 45px;
  position: absolute;
  top: 0;
  left: 0;
}

.upload-back-text {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
}


@media (max-width: 468px) {
  .upload-title {
  font-size: 24px;
  margin: 0 0 32px 0;
}
.upload-back {
  padding-left: 20px;
  padding-top: 30px;
}

.upload-back-text {

  font-size: 16px;
}
}